body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: aqua; */
}

.line1 {
    /* transform: rotateX(45deg); */
    /* transform: rotate(45deg); */
    transform-origin: 0% 0%;
    transform: rotate(45deg);
}

.line2 {
    /* transform: rotateX(45deg); */
    /* transform: rotate(45deg); */
    opacity: 0;
    
}

.line3 {
    /* transform: rotateX(45deg); */
    /* transform: rotate(-45deg); */
    transform-origin: 0% 0%;
    transform: rotate(-45deg);
}

.box-1{
    background: yellow;
    height: 300px;
    width: 300px;
    border: solid 2px black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-2{
    background: purple;
    height: 200px;
    width: 200px;

}

.myClass {
    background: green;
}

.gayab {
    display: none;
    visibility: hidden;
}